<a href="https://colab.research.google.com/github/JuanPabloSolano1/DR/blob/master/Resample_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 

url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'

df = pd.read_csv(url)
print(df.head(3))
df = df.set_index('Date')
df.head(4)
df.index = pd.to_datetime(df.index)
type(df.index)

monthly = df.resample('M').sum()
print(monthly.head(5))
monthly = df.dropna
print(monthly)

year = df.resample('Y').sum()
print(year.head(5))
year_1 = df.resample('AS-JAN').sum()
print(year_1.head(5))

         Date  Total Equity  Domestic Equity  World Equity  Hybrid  \
0  2012-12-05         -7426            -6060         -1367     -74
1  2012-12-12         -8783            -7520         -1263     123
2  2012-12-19         -5496            -5470           -26     -73

   Total Bond  Taxable Bond  Municipal Bond  Total
0        5317          4210            1107  -2183
1        1818          1598             219  -6842
2         103          3472           -3369  -5466
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-01-31          3661            -1627          5288    2730       12149
2013-02-28             0                0             0       0           0
2013-03-31             0                0             0       0           0
2013-04-30             0                0             0       0           0

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-01-31          9414            2735  18540
2013-02-28             0               0      0
2013-03-31             0               0      0
2013-04-30             0               0      0
<bound method DataFrame.dropna of             Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-05         -7426            -6060         -1367     -74        5317
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383
2013-01-09         14817             7995          6821    2888        9766
2014-04-02          3155              938          2217     265        3379
2014-04-09          5761             2080          3681    1482        1609
2014-04-16          2286              634          1652    1186         633
2014-04-23          3530             1392          2138    1239        1984
2014-04-30         -3890            -3996           106     759         888
2014-05-07           632            -2006          2639    -340        5493
2014-05-14         -1079            -2321          1242    1188        4037
2014-05-21           697            -1790          2487    1216        2196
2014-05-28         -2453            -2603           150    1108        2041
2014-06-04          2098            -1148          3246    1123         188
2014-06-11          1236            -1840          3075    1159        2112
2014-06-18          -922            -2204          1282    1060        4159
2014-06-25           -93            -1354          1262    1246        3256
2014-07-02         -7835            -8887          1052     636        2979
2014-07-09           666            -1070          1736    1006        2721
2014-07-30           118            -1171          1290    1024        1806
2014-08-06          -471            -3073          2602    -375       -8193
2014-08-13           320             -974          1294     496        1436
2014-08-20          2671              738          1933     821        4999
2014-08-27          -577            -2199          1623     943        3655
2014-09-03         -4024            -5305          1281     544        2430
2014-09-10          1257            -1291          2548    1055        1554
2014-11-05           -32            -1634          1602    -176        5813
2014-11-12          1464               61          1403     963        3596
2014-11-19         -3010            -3622           611      99        2529
2014-11-25         -1175            -2044           869    -157        2590
2015-01-07         -3913            -5438          1525   -1057       -3403
2015-01-14          1774              -37          1811     248        3549
2015-01-21          1267              856           411     790        1258
2015-01-28          4343             3455           888    1748        5964
2015-02-04          4240             3536           703     793        3237
2015-02-11          1268              -27          1296     959        5862
2015-03-04           999            -1933          2932     528        4984
2015-03-11          3911               -7          3918     851        1298
2015-03-18          1948            -1758          3706     912         452
2015-03-25         -1167            -4478          3311     538        2404
2015-04-01         -1527            -3307          1780     720       -1296
2015-04-08          1906            -1321          3227     250        1719

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931
2013-01-09          7311            2455  27471
2014-04-02          3129             250   6799
2014-04-09          1448             161   8852
2014-04-16           604              29   4105
2014-04-23          1453             531   6753
2014-04-30           559             329  -2242
2014-05-07          4417            1076   5785
2014-05-14          3141             897   4146
2014-05-21          1398             798   4109
2014-05-28          1236             805    696
2014-06-04          -470             658   3409
2014-06-11          1587             524   4506
2014-06-18          3740             419   4297
2014-06-25          2694             562   4409
2014-07-02          2704             276  -4220
2014-07-09          3203            -482   4393
2014-07-30          1119             687   2949
2014-08-06         -8658             465  -9040
2014-08-13           539             897   2252
2014-08-20          4185             814   8490
2014-08-27          2921             734   4021
2014-09-03          1768             661  -1050
2014-09-10           711             843   3866
2014-11-05          5284             529   5604
2014-11-12          2703             893   6023
2014-11-19          1758             771   -383
2014-11-25          1821             769   1258
2015-01-07         -4729            1326  -8373
2015-01-14          2582             967   5572
2015-01-21           220            1038   3315
2015-01-28          4689            1275  12055
2015-02-04          2274             963   8270
2015-02-11          5169             693   8089
2015-03-04          4309             675   6511
2015-03-11           999             298   6059
2015-03-18           258             194   3312
2015-03-25          1701             703   1775
2015-04-01         -1392              96  -2103
2015-04-08          1906            -187   3875  >
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-12-31        -26156           -23126         -3031     526        9848
2013-12-31          3661            -1627          5288    2730       12149
2014-12-31           330           -44689         45021   19570       59890
2015-12-31         15049           -10459         25508    7280       26028

            Taxable Bond  Municipal Bond  Total
Date
2012-12-31         12613           -2765 -15782
2013-12-31          9414            2735  18540
2014-12-31         44994           14896  79787
2015-12-31         17986            8041  48357
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2012-01-01        -26156           -23126         -3031     526        9848
2013-01-01          3661            -1627          5288    2730       12149
2014-01-01           330           -44689         45021   19570       59890
2015-01-01         15049           -10459         25508    7280       26028

            Taxable Bond  Municipal Bond  Total
Date
2012-01-01         12613           -2765 -15782
2013-01-01          9414            2735  18540
2014-01-01         44994           14896  79787
2015-01-01         17986            8041  48357