In [1]:
numbers = (2,3,5)

In [3]:
numbers[1]

3

In [4]:
from collections import namedtuple

In [5]:
Dog = namedtuple('Dog','age breed name')

In [6]:
sam = Dog(age = 2, breed = 'Lab', name = 'Peter')

In [7]:
Dog

__main__.Dog

In [8]:
sam

Dog(age=2, breed='Lab', name='Peter')

In [9]:
sam.age

2

In [10]:
sam.count

In [11]:
sam[0]

2

In [12]:
sam[1]

'Lab'

In [14]:
for i in sam:
    print (i)

2
Lab
Peter

In [15]:
import datetime

In [18]:
t = datetime.time(5,25,1)

In [19]:
print(t)

05:25:01

In [20]:
t.hour

5

In [21]:
t.minute

25

In [22]:
t.second

1

In [24]:
print datetime.time.min

00:00:00

In [25]:
print datetime.time.max

23:59:59.999999

In [30]:
today = datetime.date.today()

In [31]:
print(today)

2019-04-16

In [37]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=4, tm_mday=16, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=106, tm_isdst=-1)

In [39]:
today.day

16

In [41]:
today.year

2019

In [43]:
date_1 = datetime.date(2019,04,16)

In [44]:
print(date_1)

2019-04-16

In [45]:
date_1.replace(1998)

datetime.date(1998, 4, 16)

In [46]:
date_1 = datetime.date(2019,04,16)

In [47]:
date_2 = datetime.date(1990,01,03)

In [52]:
print((date_1-date_2))

10695 days, 0:00:00